.container-contacts{
}

.contacts-row {
     /*padding-top: 110px;*/
    /*padding-bottom: 100px;*/
 }

.column-contacts{
    margin-bottom: 40px;
    margin-top: 67px;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    /*background-color: rgba(255, 111, 97, 0.24);*/
    background-size: cover !important;
    background: url("../images/office8.jpg") no-repeat;
    background-position: top 65% left 15%;
    /*background-position: top 38% right 85%;;*/
}

.filter-contacts{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*background: #FF6F61;*/
    width: 100%;
    background: linear-gradient(90deg, #FF6F61, transparent);
    opacity: .8;
    z-index: 1;
}

.contacts-big-text{
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    z-index: 2 !important;
    position: relative;
}

.contacts-small-text{
    font-size: 28px;
    font-weight: 400;
}

.contacts-email{

    color: #FF6F61;
}

.contacts-email, .contacts-phone{
    display: inline;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}

.link-employer-contacts{

    color: #212529;

}

.link-employer-contacts:hover{
    color: #212529;
}

.column-contacts-shadow-1{
    margin-right: 20px;
    margin-left: -35px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 10px;
    /*-webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: -1px 3px 9px 0px rgba(192, 192, 192, 0.2);*/
    /*box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03) !important;*/
}

.column-contacts-shadow{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 10px;
    /*-webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: -1px 3px 9px 0px rgba(192, 192, 192, 0.2);*/
    /*box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03) !important;*/
}

.row-center-contacts{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-container-2-contacts{
    bottom: 0;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.employer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather-email-contacts{
    width: 30px;
    stroke: #FF6F61;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 20px;
    display: inline;
    margin-bottom: 7px;
}

.feather-call-contacts{
    width: 30px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 20px;
    display: inline;
    margin-bottom: 7px;
}

.feather-job-contacts{
    width: 30px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 20px;
    display: inline;
    margin-bottom: 8px;
}

.row-contacts{
    margin-bottom: 30px;
}