.container-contacts{

}

.contacts-row {
    height: 85vh !important;
     padding-top: 110px;
    padding-bottom: 100px;
 }

.column-contacts{
    justify-content: center;
    align-items: center;
    display: flex;
}

.contacts-big-text{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.contacts-small-text{
    font-size: 20px;
    font-weight: 400;
}

.contacts-email{
    color: #FF6F61;
    margin-bottom: 30px;
}

.contacts-email, .contacts-phone{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

.link-employer-contacts{
    color: #212529;

}

.link-employer-contacts:hover{
    color: #212529;
}

.column-contacts-shadow{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
    box-shadow: -1px 3px 9px 0px rgba(192, 192, 192, 0.2);
    /*box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03) !important;*/
}

.row-center-contacts{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-container-2-contacts{
    bottom: 0;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.employer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}