#leftCol-employer-wide {
    position: fixed;
    border-right: 1px solid #EBEBEC !important;
    /*background-color: #DDD;*/
    font-size: 16px;
    /*overflow-y: scroll;*/
    top: 0px;
    padding-top: 10px;
    bottom: 0;
    width: 185px !important;
}

#leftCol-employer-narrow {
    position: fixed;
    border-right: 1px solid #EBEBEC !important;
    /*background-color: #DDD;*/
    font-size: 16px;
    /*overflow-y: scroll;*/
    top: 0px;
    padding-top: 10px;
    bottom: 0;
    width: 65px !important;
}

.logo-mount-employer{
    height: 35px;
    width: 35px;
}

#content-employer {
    padding-top: 70px;
    position: relative;
    margin-left: 280px;
    padding-bottom: 80px;
    /*padding-right: 74px;*/
}

.all-vac-employer{
    font-size: 15.5px;
    color: #bdbebf;
    font-weight: 400;
    margin-top: 50px;
    padding: 0px 0px 8px 0px;
}

.candidates-employer{
    font-size: 15.5px;
    color: #bdbebf;
    font-weight: 400;
    padding: 0px 0px 8px 0px;
}

.channels-employer{
    font-size: 15.5px;
    color: #bdbebf;
    font-weight: 400;
    padding: 0px 0px 8px 0px;
}

.pricing-employer{
    font-size: 15.5px;
    color: #bdbebf;
    font-weight: 400;
    padding: 0px 0px 8px 0px;
}

.feather-file-text{
    width: 17px;
    height: 17px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 10px;
    margin-bottom: 3px;
}

.feather-user{
    width: 19px;
    height: 19px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 10px;
    margin-bottom: 3px;
}

.feather-layers{
    width: 19px;
    height: 19px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 10px;
    margin-bottom: 3px;
}

.feather-credit-card{
    width: 19px;
    height: 19px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 10px;
    margin-bottom: 3px;
}

.feather-menu{
    width: 19px;
    height: 19px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-more-horizontal{
    width: 19px;
    height: 19px;
    stroke: #bdbebf;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-search{
    width: 19px;
    height: 19px;
    stroke: #9c9c9c;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-trash{
    width: 15px;
    height: 15px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-bottom: 2px !important;

}

.feather-edit-2{
    width: 15px;
    height: 15px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-bottom: 2px !important;
}

.feather-filter{
    width: 19px;
    height: 19px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

}

.filter-button-employer{
    display: inline;
    /*background: #efefef;*/
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 30px;
}

.feather-menu:hover{
    stroke: #212529;
}

.button-menu{
     background-color: white;
     border: none;
     margin-left: 5px;
 }

.button-menu:focus{
    outline: none;
}

.all-vac-employer:hover > .feather-file-text, .candidates-employer:hover > .feather-user,
.channels-employer:hover > .feather-layers, .pricing-employer:hover > .feather-credit-card,
.feather-more-horizontal:hover {
    stroke: #135393;
}

.all-vac-employer:hover, .candidates-employer:hover, .channels-employer:hover, .pricing-employer:hover {
    color: #135393;
    text-decoration: none !important;
}


#employer-left-active{
    color: #212529 !important;
    stroke: #212529 !important;
}

.avatar-name{
    color: #212529 !important;
    font-size: 14px;
    font-weight: 400;
    /*padding-top: 9px;*/
}

.avatar-name:hover{
    color: #135393 !important;
    text-decoration: none !important;
}

.avatar-job{
    color: #bdbebf;
    font-size: 14px;
    font-weight: 400;
    margin-top: -14px;
}

.avatar-picture{
    height: 40px !important;
    width: 40px !important;
    margin-left: 15px;
    margin-right: -3px;
}

.avatar-employer{
    position: fixed;
    bottom: 10px;
}

.logo-employer{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    width: 140px;
    height: 31px;
    margin-left: -8px;
}

.employer-menu-text{
    margin-top: 80px !important;
}

.all-vac-text-employer{
    font-size: 25px;
    color: #212529;
    font-weight: 500;
}

.create-vac-employer{
     background-color: #FF6F61;
    color: white;
     padding: 13px 20px;
     font-weight: 500;
     font-size: 14px;
     border-radius: 5px;
     letter-spacing: 0.4px;
     border: none;
 }

.create-vac{
    color: white;
}

.create-vac-employer:focus{
    outline: none;
}

.search-form-employer{
    display: inline;


}

.feather-search-div{
    border-radius: 25px 0px 0px 25px;
    display: inline;
    border: 1px solid #EBEBEC;
    border-right: none;
    padding: 12px 15px 13px 15px;
    margin-right: -7px;

}

.search-employer{
    margin-left: -10px;
    font-size: 15px;
    padding: 11px 15px;
    border: 1px solid #EBEBEC;
    border-left: none;
    border-radius: 0px 25px 25px 0px;
    margin-right: 40px;
    /*height: 52px !important;*/
}

.search-employer:focus{
    outline: none !important;
    /*height: 52px !important;*/
}

.search-employer::placeholder{
    color: #ddddde;
    font-size: 15px;
    /*height: 52px !important;*/
}

.table thead th {
    /*text-transform: uppercase;*/
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400 !important;
    vertical-align: bottom;
    border-bottom: 1px solid #EBEBEC !important;
}

.table td, .table th {
    max-width: 300px;
    font-size: 14px;
    padding: .75rem;
    vertical-align: top;
    /*border-top: 1px solid #EBEBEC !important;*/

    font-weight: 400 !important;
}

.table-employers{
    margin-bottom: 20px;
    margin-top: 50px;
}

.align-center-table{
    text-align: center;
}

.button-more{
    padding: 0px !important;
}

.button-more:focus{
    outline: none !important;
}

.button-more:hover{
    background-color: white !important;
}

.button-more-menu{
    max-width: 200px;
    text-overflow: ellipsis !important;
    font-size: 14px !important;
    font-family: 'Rubik', sans-serif !important;
}

.menu-text-edit-delete{
    display: inline;
    margin-left: 8px;
}

.menu-text-edit-delete-marg{
    margin-left: -15px;
}

.footer-copyright-employer.text-center.py-3{
    margin-top: -12px;
    color: #454545;
    font-size: 14px;
    background-color: #EBEAEB;
    margin-left: -95px;
    margin-right: -51px;
}

.border-div{
    margin-left: -95px;
    margin-right: -51px;
    margin-bottom: -30px;
    margin-top: 50px;
    border-bottom: 1px solid #f1f1f2;
}

.not-active{
    color: #9c9c9c !important;
}

a.not-active:hover{
    color: #135393 !important;
}

#not-active-link:hover{
    color: #135393 !important;
    text-decoration: none !important;
}

.MuiBadge-dot {
    height: 4.5px !important;
    padding: 0;
    min-width: 4.5px !important;
    border-radius: 4px;
}

.MuiBadge-anchorOriginTopRightRectangle {
    top: 15px !important;
    right: 7px !important;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

#table-employer-link{
    color: #212529;
    font-size: 14px;
}

#table-employer-link:hover{
    color: #135393;
    text-decoration: none !important;
}

.scrollme {
    overflow-x: auto;
}