.vacancy-cont-short{
    padding-bottom: 90px;
    /*background-color: #ffd3cf;*/
}

.short-vac{
    /*margin-left: 30px;*/
    /*padding-right: 140px;*/
}

#border-bottom-container{
    padding-bottom: 20px;
    /*border-bottom: 1px solid #EBEBEC;*/
}

.similar-vac{
    /*text-decoration: underline;*/
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
}

.vac-info-short{
    padding-left: 30px;
    padding-top: 10px;
    color: #212529;
    padding-bottom: 20px;
    /*border-bottom: 1px solid #EBEBEC !important;*/
}

.vac-title-short{
    padding-top: 10px;
}

.box-image-short{
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: #61dafb;
    background-image: url("../images/deloitte-sm-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.vacancy-info-company-short{
    margin-bottom: 0px;
    color: #9c9c9c;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: -5px;*/
    /*margin-bottom: 3px;*/
    text-transform: uppercase;
}

.vacancy-info-company-short-bl{
    margin-bottom: 0px;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 25px;
}

.vacancy-title-short{
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
    padding-left: 15px;
    padding-right: 25px;
    margin-top: 5px;
}

.vacancy-title-a-short{
    color: #212529 !important;
}

.vacancy-title-a-short:hover, .vacancy-title-a-short:focus{
    text-decoration: none !important;
    color: #083883 !important;
}

.vacancy-dot{
     font-size: 12px;
     font-weight: 400;
     /*display: inline;*/
     margin: 5px 7px 3px 7px;
 }

.vacancy-dot-footer{
    font-size: 12px;
    font-weight: 400;
    /*display: inline;*/
    margin: 5px 7px 3px 7px;
}

.vacancy-dot-footer:hover{
    color: #212529 !important;
}

.vacancy-type-short{
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
}

.vacancy-salary-short{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
}

.vacancy-location-short{
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.vacancy-info-short{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
}

.vacancy-2-short{
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #EBEBEC !important;
}

.box-image-2-short{
    border-radius: 5px;
    width: 55px;
    height: 55px;
    /*background-color: #61dafb;*/
    background-image: url("../images/ey-sm.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box-image-3-short{
    border-radius: 5px;
    width: 55px;
    height: 55px;
    /*background-color: #61dafb;*/
    background-image: url("../images/procredit-sm.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.vacancy-page-fixed{
    top: 0;
    padding-top: 112px;
    padding-bottom: 0;
    height: 100%;
    width: 290px;
 }

.vacancy-page-fixed-fixed{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}

#leftCol {
    position: fixed;
    border-right: 1px solid #EBEBEC !important;
    /*width: 313px;*/
    /*background-color: #DDD;*/
    font-size: 21px;
    /*overflow-y: scroll;*/
    top: 121px;
    padding-top: 10px;
    bottom: 0;
    width: 316px !important;
    /*height: 79%;*/
}

#content {
    padding-top: 158px;
    position: relative;
    margin-left: 350px;
    /*padding-right: 74px;*/
}

.filter-top{
    box-shadow: 0 2px 20px rgba(46,46,46,0.1);
    background-color: white !important;
    min-height: 18px;
    align-content: center;
    margin-top: -4px;
    position: fixed !important;
    top: 71px !important;
    left: 0 !important;
    z-index: 700;
    width: 100%;
    padding: 13px 30px !important;
}

#all-cat-filter-top{
    max-width: 160px;
    font-weight: 500;
    /*font-size: 16px;*/
    border: 1px solid white !important;
    border-radius: 5px !important;
    background-color: white !important;
    padding: 10px 30px 10px 10px !important;
}

#type-filter-top{
    font-weight: 500;
    /*font-size: 16px;*/
    margin-left: 30px;
    max-width: 160px;
    border: 1px solid white !important;
    border-radius: 5px !important;
    background-color: white !important;
    padding: 10px 30px 10px 10px !important;
}

#salary-filter-top{
    font-weight: 500;
    /*font-size: 16px;*/
    margin-left: 30px;
    /*width: 160px;*/
    border: 1px solid white !important;
    border-radius: 5px !important;
    background-color: white !important;
    padding: 10px 20px 10px 10px !important;
}

.button-top-filter{
    margin-left: 30px;
    padding: 8px 10px 8px 10px !important;
    font-size: 14px;
    text-align: center;
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 5px;
}

.MuiCheckbox-colorSecondary.Mui-checked{
   color: #212529 !important;
}

.back-to-vac-link{
     color: #212529 !important;
 }

.back-to-vac-link:hover{
    text-decoration: none !important;
    color: #212529 !important;
}


.back-to-vac-but{
    margin-right: 50px;
    margin-left: 15px;
    padding: 8px 22px 8px 22px !important;
    font-size: 14px;
    border-radius: 5px;
    background-color: white !important;

    border: 1px solid #212529 !important;
}

.back-to-vac-but:active, .back-to-vac-but:focus{
    border: 1px solid #212529 !important;
    outline: none !important;
}

.arrow-back{
    margin-bottom: 1px;
    height: 14px;
    width: 20px;
    margin-right: 4px;
}

#all-cat-select{
    font-size: 14px !important;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 400;
}

.search-but-filter-top{
    width: 20px;
    height: 20px;
    /*margin-bottom: 2px !important;*/
}

.search-field-top{
     color: #212529 !important;
     border: 1px solid #c3c9cf !important;
     border-right: none !important;
     border-radius: 5px 0px 0px 5px !important;
     /*padding: 7px 0px 10px 7px !important;*/
     width: 200px !important;
 }

.search-field-top::placeholder{
    color: #212529 !important;
    font-size: 14px !important;
}

.search-field-top-but{
    padding: 6px 10px 6px 10px !important;
    background-color: white;
    color: #212529 !important;
    border: 1px solid #c3c9cf !important;
    border-radius: 0px 5px 5px 0px !important;
    margin-right: 30px;
    fill: #212529 !important;
}

.search-field-top-but:active, .search-field-top-but:focus{
    outline: none !important;
    border: 1px solid #c3c9cf !important;
}

.search-field-top:active, .search-field-top:focus{
    outline: none !important;
    border: 1px solid #c3c9cf !important;
    border-right: none !important;
    box-shadow: none !important;
}

.title-vacancy{
    font-size: 19px;
    font-weight: 500;
}

.box-image-short-vac{
    border-radius: 50px;
    width: 45px;
    height: 45px;
    background-color: #61dafb;
    background-image: url("../images/deloitte-sm-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title-column-short{
    /*border-bottom: 1px solid #EBEBEC !important;*/
    padding: 20px 0px 20px 0px;
    margin-bottom: 10px;
    /*background-color: #EBEBEC;*/
}

.apply-button-but{
    float: right;
    border-radius: 7px;
    border: 1px solid #FF6F61;
    background-color: #FF6F61;
    padding: 12px 40px 12px 40px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.apply-button-but:focus{
    outline: none !important;
}

.simplebar-track.simplebar-horizontal{
    /*visibility: hidden !important;*/
}

.row-vacancy-info{
    margin-top: -4px;
    margin-bottom: 50px;
}

.row-vacancy-info-employer-vac-margin{
    margin-top: 10px;
    margin-bottom: 50px;
}

.tags-labels{
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 500;
}

.chip-info{
    font-family: 'Rubik', sans-serif !important;
    color: #212529 !important;
    background-color: #ffe0db !important;
    margin-right: 10px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
}

.react-tabs__tab--selected{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #212529 !important;
}

.react-tabs__tab-list{
    margin: 0 -15px 30px !important;
    border-bottom: 1px solid #EBEBEC !important;
}

.react-tabs__tab{
    padding: 6px 25px !important;
    margin-right: 20px;

}

.react-tabs{
    min-height: 500px !important;

}

.vacancy-info-categories{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.vacancy-info-categories-first{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.vacancy-text-align{
    text-align: justify;
    font-size: 16px;
    color: #61676b;
}

.vacancy-text{
    /*text-align: justify;*/
    font-size: 16px;
    color: #61676b;
}

.loc-div{
    float: right;
}

/*.column-location{*/
/*    display: flex;*/
/*    float: right;*/
/*}*/

.google-map{
    margin-left: 28px;

}

.location-map{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-top: 9px;
    margin-left: 28px;
    margin-bottom: 15px;
}

.vacancy-text-address{
    font-size: 16px;
    color: #61676b;
    /*margin-top: 9px;*/
    margin-left: 28px;
    margin-bottom: 10px;
}

.vacancy-info-categories-company{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.vacancy-info-categories-company-vac{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 28px;
}

.bottom-fadeout {
    bottom: 0;
    background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
    -webkit-background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
}

.top-fadeout {
    /*top: 0;*/
    background-image: linear-gradient(0deg, rgba(255,255,255,0), #FFF);
    -webkit-background-image: linear-gradient(0deg, rgba(255,255,255,0), #FFF);
}

.bottom-fadeout, .top-fadeout {
    height: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
}

.row-filter{
    margin-left: 108px !important;
}

.p-apply-bot{
    margin-bottom: 0px !important;
}

.but-apply-bottom{
    margin-top: 50px;
    margin-bottom: 50px !important;
    background-color: #FF6F61;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    color: white
}

.but-apply-bottom:focus{
    outline: none !important;
}

.row-but-apply-bot{
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #FFE0DB;
}

.footer-copyright-short.text-center.py-3{
    margin-top: -12px;
    color: #454545;
    font-size: 14px;
    background-color: #EBEAEB;
    margin-left: -35px;
    margin-right: -30px;
}

.text-center-short{
    padding-top: 70px !important;
    padding-bottom: 40px;
}

.page-footer-short{
    padding-top: 0px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in{
    animation: fadeIn .5s ease-in
}

.load-more-but{
    border: none;
    border-radius: 5px;
    color: white;
    width: 90%;
    background-color: #212529;
    margin: 30px 0px 35px 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;

}

.load-more-but:focus{
    outline: none !important;
}

.vacancy-info-scroll{
    height: 100% !important;
}

[data-simplebar]{
    /*background-color: #61dafb;*/
    /*height: 100% !important;*/
}

.full{
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
}

.full-filter{
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.vacancy-comp{
    margin-left: 15px;
}

.all-vac-company-but{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #135393;
    border-radius: 5px;
}

.all-vac-company-but:focus{
   outline: none !important;
}

.all-vac-company-blue{
    color: #135393 !important;
}

.all-vac-company-blue:hover{
    text-decoration: none !important;
}

.arrow-blue-comp{
    height: 14px;
    width: 20px;
    margin-left: 3px;
}

.vac-company-div {
    margin-bottom: 10px;
}

.apply-company-blue{
     color: #1264a3 !important;
     font-size: 14px;
     margin-left: 15px;
     margin-top: 5px;
 }

.apply-company-blue:hover{
    text-decoration: none !important;
    color: #135393 !important;
}

.vac-company-div-apply {
    margin-top: 5px;
}

.arrow-blue-comp-apply{
    height: 12px;
    width: 18px;
    margin-left: 3px;
}

#active-vacancy{
    background-image: linear-gradient(120deg, #ffe0db 100%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 8px;
    background-position: 0 95%;
    transition: background-size 0.25s ease-in;
    /*font-weight: 400 !important;*/
}

#search{
    display: inline-block;
    width: 30px;
    height: 38px;
    background: white;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    transition: all .3s;
}

#search svg{
    height: 60%;
    top: 20%;
    position: absolute;
    left: 10px;
    transition: all .2s;
}

#icon{
    top: 21% !important;
    height: 23.5px !important;
    width: 23.5px !important;
}

#search input{
    height: 100%;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #212529;
    padding-left: 40px;
    box-sizing: border-box;
}

#search input:focus{
    outline: none;
    background: white;
}

#search input::placeholder{
    color: #757575;
    font-size: 14px;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 400;
}

#search.open{
    font-size: 14px;
    width: 190px;
    border: 1px solid #EBEBEC;
    border-radius: 5px;
}

#icon-close{
    height: 15px;
    width: 15px;
    display: none;
}

.feather-search-filter{
    stroke: #212529;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-x-filter{
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: inline;
}

.footer-vacancy{
    padding-top: 35px;
    margin-left: 0px;
    padding-right: 0px;
}

.logo-mount-vacancy{
    height: 45px;
    width: 45px;
}

.modal-apply{

    overflow-y: scroll !important;
    /*padding: 60px 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}

.modal-paper-apply{
    height: 533px !important;
    padding: 40px 40px 40px 40px;
    /*margin-top: 300px !important;*/
    /*text-align: center;*/
    background: white;
    border-radius: 10px !important;
    -webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
    box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
}

.modal-apply .MuiBackdrop-root{
    background: rgba(255,255,255,0.8) !important;
}

.column-apply-info{
    margin-right: 40px;
    background-color: rgba(255, 111, 97, 0.24);
    width: 300px !important;
}


.column-apply-content{
    width: 450px !important;
}

#next-btn-stepper-apply{
    padding: 8px 45px !important;
    float: right;
    border: 1px solid #212529;
    background-color: #212529 !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
}

#next-btn-stepper-apply:focus, #publish-btn-stepper-apply:focus, #back-btn-stepper-apply:focus{
    outline: none !important;
}

#back-btn-stepper-apply{
    border-radius: 5px !important;
    /*border: 1px solid #212529 !important;*/
    padding: 8px 0px !important;
    text-transform: none !important;
}

#back-btn-stepper-apply.Mui-disabled {
    /*border: 1px solid rgba(34, 34, 34, 0.19) !important;*/
}

#back-btn-stepper-apply.Mui-disabled .feather-chevron-left-btn {
    stroke: rgba(34, 34, 34, 0.19) !important;
}

#transition-modal-title-apply{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    color: #212529 !important;
    font-weight: 700 !important;
}

.input-title-apply{
    color: #212529;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 13px;
}

.apply-input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EBEBEC;
    font-size: 15px;
    padding: 10px 15px;
    margin-bottom: 25px;
}

.apply-input:focus{
    box-shadow: none !important;
    border: 1px solid #d2d2d3;
    outline: none !important;
}

.helper-text-apply{
    font-size: 13.5px;
    color: #6c6c6c;
    margin-bottom: 13px;
    margin-top: -7px;
}

.apply-title-small{
    margin-bottom: 40px;
}

.apply-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.apply-stepper .MuiStep-horizontal{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}

#stepper-icons-apply .MuiStepIcon-root{
    width: 22px !important;
    height: 22px !important;
}

#stepper-icons-apply .MuiStepIcon-root.MuiStepIcon-active{
    color: #212529 !important;
}

#stepper-icons-apply .MuiStepIcon-root.MuiStepIcon-completed{
    color: #212529 !important;
}

#stepper-icons-apply .MuiStepLabel-label.MuiStepLabel-alternativeLabel{
    font-weight: 400 !important;
    font-family: 'Rubik', sans-serif !important;
}

.row-stepper-center-apply{
    display: flex !important;
    justify-content: center !important;
}

.row-stepper-center-apply .MuiStepper-root{
    padding: 0px !important;
}

.buttons-vac-div-apply {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.english-card{
    text-align: center;
    font-size: 14px;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 111, 97, 0.24);
    height: 80px;
    width: 80px;
}

.english-level-card{
    font-size: 12px;
}

.column-chips{
    text-align: center;
}

.MuiChip-label{
    font-family: 'Rubik', sans-serif !important;
}

#A1, #B1, #C1{
    margin-bottom: 5px;
}