#leftCol-employer-vacancies{
    position: fixed;
    border-right: 1px solid #EBEBEC !important;
    /*background-color: rgba(178, 221, 220, 0.68);*/
    font-size: 16px;
    /*overflow-y: scroll;*/
    top: 0px;
    padding-top: 25px;
    bottom: 0;
    width: 215px;
    margin-left: 230px;
}

#content-employer-vacancy {
    padding-top: 70px;
    position: relative;
    /*margin-left: 530px;*/
    margin-left: 500px;
    padding-bottom: 80px;
    transition: margin-left 250ms ease-out,transform 250ms ease-out,-webkit-transform 250ms ease-out;
    /*padding-right: 74px;*/
}

.one-vacancy-employer{
    /*padding-bottom: 5px;*/
    /* border-bottom: 1px solid #EBEBEC; */
    margin-left: -10px;
}

.vacancy-info-employer{
    margin-bottom: 0px;
    color: #9c9c9c;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: -5px;*/
    /*margin-bottom: 3px;*/
    text-transform: uppercase;
}

.vacancy-title-employer{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15.5px;
    font-weight: 400;
    margin-bottom: 3px;
    padding-left: 15px;
    padding-right: 25px;
    margin-top: 5px;
}

.vacancy-title-a-employer{
    color: #212529 !important;
}

.vacancy-title-a-employer:hover, .vacancy-title-a-employer:focus{
    text-decoration: none !important;
    color: #083883 !important;
}

.vacancy-type-employer {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 400;
    margin-top: -2px;
}