#leftCol-employer-vacancies{
    position: fixed;
    /*border-right: 1px solid #EBEBEC !important;*/
    /*-webkit-box-shadow: 9px 0px 18px -12px rgba(46,46,46,0.1);*/
    /*-moz-box-shadow: 9px 0px 20px -12px rgba(46,46,46,0.1);*/
    /*box-shadow: 9px 0px 20px -12px rgba(46,46,46,0.1);*/
    /*background-color: #F5F5F7;*/
    background-color: #F5F5F7;
    font-size: 16px;
    /*overflow-y: scroll;*/
    top: 0px;
    padding-top: 64px;
    bottom: 0;
    width: 225px;
    margin-left: 100px;
}

.vacancy-employer-sidebar{
    font-size: 15px;
    font-weight: 500;
    color: #212529;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -31px;
    margin-bottom: 9px;
}

#content-employer-vacancy {
    padding-top: 70px;
    position: relative;
    /*margin-left: 530px;*/
    width: 0%;
    margin-left: 370px;
    margin-right: 50px;
    padding-bottom: 80px;
    transition: margin-left 250ms ease-out,transform 250ms ease-out,-webkit-transform 250ms ease-out;
    /*padding-right: 74px;*/
}

.one-vacancy-employer{
    padding-top: 10px;
}

.vacancy-info-employer{
    margin-bottom: 0px;
    color: #9c9c9c;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

.vacancy-title-employer{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15.5px;
    font-weight: 400;
    margin-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
}

.vacancy-title-a-employer{
    color: #212529 !important;
}

.vacancy-title-a-employer:hover, .vacancy-title-a-employer:focus{
    text-decoration: none !important;
    color: #083883 !important;
}

.vacancy-type-employer {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 400;
    margin-top: -2px;
}

.active-one-vacancy{
    border-right: 2px solid white !important;
    /*background-color: #f6f6f6;*/
    /*background-image: linear-gradient(90deg, #f6f6f6,  #ffffff42);*/
}

.block-name-details{
    display: inline;
    font-size: 14px;
    color: #9c9c9c;
    margin-right: 8px;
}

.block-details{
    display: inline;
    font-size: 14px;
    color: #212529;
    /*margin-right: 30px;*/
}

.ellipsis-col-details{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details-row-margin{
    margin-bottom: 15px;
}

.details-row-margin-second{
    margin-bottom: 38px;
}

.candidates-details-link{
     color: #212529;
 }

.candidates-details-link:hover{
    color: #135393;
    text-decoration: none !important;
}

.vacancy-details-word{
    color: #2e3134;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.but-edit-employer{
     padding: 10px 15px;
     border: 1px solid #EBEBEC;
     background-color: white;
     border-radius: 100%;
     margin-right: 20px;
 }

.but-edit-employer:focus{
    outline: none !important;
}

.but-delete-employer{
    padding: 10px 15px;
    border: 1px solid #EBEBEC;
    background-color: white;
    border-radius: 100%;
    margin-right: 35px;
}

.but-delete-employer:focus{
    outline: none !important;
}

.feather-edit-employer{
    width: 17px;
    height: 17px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-bottom: 2px !important;
}

.feather-trash-employer{
    width: 17px;
    height: 17px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-bottom: 2px !important;
}

#active-vacancy-employer{
    background: white;
    /*background-image: linear-gradient(120deg, #ffe0db 100%, #8fd3f4 100%);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 8px;*/
    /*background-position: 0 99%;*/
    /*transition: background-size 0.25s ease-in;*/
}

.paper-mui-table {
    /*border: 1px solid #EBEBEC !important;*/
    box-shadow: none !important;
    border-radius: 5px !important;
}

.left-fadeout-candidates-vac {
    position: absolute;
    /*left: -4px;*/
    top: 0;
    bottom: 0;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 53px;
    width: 20px;
    background-image: linear-gradient(90deg, #FFF, rgba(255,255,255,0));
    -webkit-background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
}

.right-fadeout-candidates-vac {
    position: absolute;
    right: 0px;
    top: 0;
    margin-top: 50px;
    margin-bottom: 53px;
    bottom: 0;
    z-index: 2;
    width: 20px;
    background-image: linear-gradient(-90deg, #FFF, rgba(255,255,255,0));
    -webkit-background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
}

.bottom-fadeout-candidates-vac {
    bottom: 53px;
    /*margin-right: 11px;*/
    background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
    -webkit-background-image: linear-gradient(0deg, #FFF, rgba(255,255,255,0));
}

.top-fadeout-candidates-vac {
    margin-top: 53px;
    margin-right: 14px;
    background-image: linear-gradient(0deg, rgba(255,255,255,0), #FFF);
    -webkit-background-image: linear-gradient(0deg, rgba(255,255,255,0), #FFF);
}

.bottom-fadeout-candidates-vac {
    height: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
}

.top-fadeout-candidates-vac {
    height: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
}

.modal-delete{
    padding: 150px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 740px;*/
    /*padding: 0;*/

    text-align: center;

}

.modal-paper{
    /*width: 740px;*/
    /*padding: 0;*/
    text-align: center;
    padding: 45px 50px;
    /*background: rgba(255,255,255,0.8);*/
    background: white;
    border-radius: 10px !important;
    -webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
    box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
}

.modal-delete .MuiBackdrop-root{
    background: rgba(255,255,255,0.8) !important;
}

#transition-modal-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    color: #212529 !important;
    font-weight: 700 !important;
}

#transition-modal-description{
    font-size: 14px;
    color: #212529;
    margin-top: -7px;
}

.delete-button-modal{
    border-radius: 7px;
    background: #212529;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #212529;
    border: none !important;
    margin-right: 10px;
    margin-top: 25px;
}

.delete-button-modal:focus, .delete-button-modal-cancel:focus{
    outline: none !important;
}

.delete-button-modal-cancel{
    border-radius: 7px;
    background: white;
    color: #212529;
    /*border: 1px solid #212529;*/
    font-size: 14px;
    padding: 10px 15px;
    margin-top: 25px;
    border: none !important;
}