/*@media (min-width: 0px) and (max-width: 992px) {*/

/*    .vacancy-mobile{*/
/*        display: inline !important;*/
/*    }*/

/*    .vacancy-desktop{*/
/*        display: none !important;*/
/*    }*/

/*    .mobile-description{*/
/*        display: inline !important;*/
/*    }*/

/*    .desktop-description{*/
/*        display: none !important;*/
/*    }*/

/*}*/

/*.mobile-description{*/
/*    display: none;*/
/*}*/

/*uncomment*/

.title-column-short-mobile{
    /*border-bottom: 1px solid #EBEBEC !important;*/
    padding: 120px 0px 20px 0px;
    margin-bottom: 10px;
    /*background-color: #EBEBEC;*/
}

.vacancy-info-mobile{
    font-size: 12px;
    color: #9c9c9c;
    margin-bottom: 20px;
}

.title-vacancy{
    font-size: 19px;
    font-weight: 500;
}

.google-map-mobile{
    width: 100% !important;
    height: 70px !important;

}

.location-map-mobile{
    color: #2e3134;
    font-weight: 500;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.vacancy-text-address-mobile{
    font-size: 16px;
    color: #61676b;
    /*margin-top: 9px;*/
    margin-bottom: 10px;
}

.full-map{
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
}

.padding-30px{
    padding-right: 30px;
    padding-left: 30px;
}

.row-map-margin{
    margin-left: -30px !important;
    margin-right: -30px !important;
}

.loc-div-mobile{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.feather-map-pin-mobile{
    width: 20px;
    height: 20px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 7px;
}

div#filter-menu {
    height: 100vh !important;
    margin-top: 40px !important;
}

.button-apply-now{
    background-color: #FF6F61;
    border: 1px solid #FF6F61;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}

.button-apply-now-div{
    position: fixed;
    right: 0;
    bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    left: 0;
    z-index: 1030;
}

.load-more-but-mobile{
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    background-color: #212529;
    margin: 30px 0px 35px 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.image-margin{
    margin-right: 20px;
}

.similar-vac-mobile{
    font-size: 17px;
    font-weight: 500;
    padding-top: 45px;
}

.full-filter-mobile{
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
}

.row-but-apply-bot-mobile{
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    background-color: white;
}

.but-apply-bottom-mobile{
    margin-top: 20px;
    margin-bottom: 40px !important;
    background-color: white;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #FF6F61;
    border-radius: 7px;
    color: #FF6F61;
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.row-stepper-center-apply-mobile{
    margin-top: 30px;
}

.row-stepper-center-apply-mobile .MuiStepper-root {
    padding: 0px !important;
    width: 100% !important;
}

#course-select-level-mobile{
    background-color: white !important;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EBEBEC;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
}

#course-select-level-form-mobile .MuiSelect-select:focus{
    box-shadow: none !important;
    border: 1px solid #d2d2d3;
    outline: none !important;
}

#course-select-level-form-mobile :focus{
    box-shadow: none !important;
    border: 1px solid #d2d2d3;
    outline: none !important;
}

#course-select-level-form-mobile  .MuiSelect-icon {
    width: 18px !important;
    height: 18px !important;
    margin-right: 7px !important;
    margin-top: 0px !important;
}

#course-select-level-form-mobile{
    width: 100%;
}

.salary-filter-form-mobile{
    width: 100% !important;
    margin-bottom: 25.5px !important;
}

.salary-filter-form-mobile .MuiOutlinedInput-root{
    border-radius: 5px !important;
}

.salary-filter-form-mobile .MuiOutlinedInput-adornedStart{
    padding-left: 9px !important;
}

.salary-filter-form-mobile .MuiOutlinedInput-adornedEnd{
    padding-right: 17px !important;
}

.salary-filter-form-mobile .Mui-focused > .MuiOutlinedInput-notchedOutline{
    box-shadow: none !important;
    border: 1px solid #d2d2d3 !important;
    outline: none !important;
}

#course-select-work-form-mobile .MuiSelect-select:focus{
    background: white !important;
    box-shadow: none !important;
}

#course-select-work-form-mobile:focus{
    box-shadow: none !important;
    border: 1px solid #d2d2d3;
    outline: none !important;
}

#course-select-work-form-mobile .MuiSelect-icon {
    width: 18px !important;
    height: 18px !important;
    margin-right: 7px !important;
    margin-top: 0px !important;
}

#course-select-work-form-mobile{
    width: 100%;
}

#course-select-work-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EBEBEC;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
}

#course-select-course-form-2-mobile{
    width: 100%;
}

.row-contacts-mobile{
    display: flex !important;
    justify-content: left !important;
    margin-bottom: 30px;
}

.contacts-big-text-mobile{
    padding-top: 110px;
    padding-bottom: 40px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #212529;
    z-index: 2 !important;
    position: relative;
}

.box-image-short-vac-mobile{
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-left: 15px;
    background-color: #61dafb;
    background-image: url("../images/deloitte-sm-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.vacancy-info-categories-company-vac-mobile{
    color: #2e3134;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.all-vac-company-but-mobile{
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #135393;
    border-radius: 5px;
}

.all-vac-company-but-mobile:focus{
    outline: none !important;
}