@media (max-width: 1200px) {

    .vac-input {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }

}

@media (min-width: 1100px) and (max-width: 1179px) {

    .google-map{
        width: 210px !important;
    }

}

@media (min-width: 1180px) and (max-width: 1210px) {

    .google-map{
        width: 230px !important;
    }

}

@media (min-width: 1324px) and (max-width: 3440px) {

    .google-map{
        width: 270px !important;
    }

}

@media (min-width: 0px) and (max-width: 1210px) {

    .row-desktop{
        display: none !important;
    }

    .row-mobile{
        display: inline !important;
    }

    .footer-icons-div {
        float: none !important;
        margin-bottom: 20px;
    }

    .footer-container-2 {
        background-color: white;
        align-items: center;
        display: inline !important;
        justify-content: unset !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #telegram, #insta{
        height: 33px !important;
        width: 33px !important;
    }

}

@media (min-width: 1110px) and (max-width: 1180px) {

    .row-filter{
        margin-left: 50px !important;
    }

}

@media (min-width: 0px) and (max-width: 992px) {

    .navbar-light .navbar-toggler{
        display: none !important;
    }

}

@media (min-width: 0px) and (max-width: 992px) {

    .pad-filter{
        width: 100% !important;
    }

    #filter-category-material-ui{
        width: 100% !important;
    }

    div#course-select-course-form {
        width: 100% !important;
    }

    .button-ok-filter{
        width: 100% !important;
    }

}

.navbar-mobile{
    display: none;
}

@media (min-width: 0px) and (max-width: 992px) {

    .navbar-desktop{
        display: none !important;
    }

    .navbar-mobile{
        display: inline !important;
    }

}

.vacancy-mobile{
    display: none;
}

@media (min-width: 0px) and (max-width: 661px) {

    .vacancy-mobile{
        display: inline !important;
    }

    .vacancy-desktop{
        display: none !important;
    }

}

.feather-chevron-left-menu{
    width: 26px;
    height: 26px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.image-container-mobile{
    /*width: 200px !important;*/
}

@media (min-width: 391px) and (max-width: 406px) {

    .box-image-2, .box-image-3, .box-image{
        width: 52px !important;
        height: 52px !important;
    }

}

@media (min-width: 377px) and (max-width: 390px) {

    .box-image-2, .box-image-3, .box-image{
        width: 50px !important;
        height: 50px !important;
    }

}

@media (min-width: 366px) and (max-width: 376px) {

    .box-image-2, .box-image-3, .box-image{
        width: 48px !important;
        height: 48px !important;
    }

}

@media (min-width: 347px) and (max-width: 365px) {

    .box-image-2, .box-image-3, .box-image{
        width: 45px !important;
        height: 45px !important;
    }

}

@media (min-width: 0px) and (max-width: 346px) {

    .box-image-2, .box-image-3, .box-image{
        width: 40px !important;
        height: 40px !important;
    }

}

@media (min-width: 377px) and (max-width: 427px) {

    .react-tabs__tab {
        padding-left: unset !important;
        padding-right: unset !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        margin-right: 30px;
    }

}

@media (min-width: 0px) and (max-width: 376px) {

    .react-tabs__tab {
        font-size: 14px !important;
        padding-left: unset !important;
        padding-right: unset !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        margin-right: 25px;
    }

}

.row-narrow{
    display: none;
}

@media (min-width: 0px) and (max-width: 541px) {

    .row-narrow{
        display: inline !important;
    }

    .row-wide{
        display: none !important;
    }

    .margin-top-column{
        margin-top: -23px;
        margin-bottom: -5px;
    }

    .margin-top-column-work{
        margin-top: -23px;
        margin-bottom: 20px;
    }

}

.row-apply-page{
    margin-bottom: 100px;
}

.margin-bottom-apply-page{
    margin-bottom: -25px;
}